body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 30px;
  width: 100%; }
  body table {
    max-width: 100%;
    margin: 0 auto; }
    body table a {
      color: #805dad; }
    body table a:hover {
      color: #6a99be; }
    body table button {
      border: none;
      background-color: #6a99be;
      color: white;
      padding: 8px;
      border-radius: 3px;
      cursor: pointer; }
    body table button:hover {
      background-color: #805dad; }
    body table th {
      outline: 2px solid #c9c9c9; }
    body table td {
      outline: 1px solid #e2e2e2; }
    body table th,
    body table td {
      padding: 7px; }
    body table tr:nth-child(odd) td {
      background-color: #f0ecf5; }
  body #form-container {
    margin-top: 30px; }
    body #form-container form {
      display: block;
      position: relative;
      margin: 0 auto;
      font-weight: bold;
      width: 300px;
      min-height: 200px;
      border-radius: 6px;
      padding: 10px;
      background-color: #ece9f3; }
      body #form-container form label, body #form-container form input {
        margin: 0 auto;
        padding: 5px; }
      body #form-container form input {
        float: right;
        margin: 3px; }
      body #form-container form label {
        float: left;
        margin: 3px; }
      body #form-container form #addNew {
        display: block;
        padding: 10px;
        margin: 0 auto;
        margin-top: 50px;
        margin-right: -50px;
        border-radius: 3px;
        float: right;
        background-color: #805dad;
        outline: none;
        border: none;
        color: white; }
  body footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0; }
    body footer footer p {
      text-align: center; }
